[client]
port            = 3306
socket          = /data/app/mysql/mysql.sock

[mysqld]
bind-address    = 0.0.0.0
port            = 3306
socket          = /data/app/mysql/mysql.sock
log-error       = /data/app/mysql/log/mysql.log
pid-file        = /data/app/mysql/run/mysqld.pid
datadir         = /data/app/mysql/data
tmpdir          = /data/app/mysql/tmp
default_storage_engine = InnoDB
log-bin = mysql-bin
binlog_format = mixed
expire_logs_days = 14
server-id       = 1
skip_name_resolve = ON
host_cache_size = 0
explicit_defaults_for_timestamp = 1
innodb_flush_log_at_trx_commit = 2
sync_binlog = 500
relay_log_recovery = ON
innodb_log_file_size = 50M
innodb_log_files_in_group = 3
binlog_cache_size = 4M
innodb_log_buffer_size = 8M
innodb_flush_method = O_DIRECT
character_set_server = utf8
lower_case_table_names = 1
innodb_file_per_table = 1
innodb_open_files = 1000
innodb_buffer_pool_size = 1G
key_buffer_size = 10M
max_connections = 2000
max_connect_errors = 150
max_user_connections = 0
thread_cache_size = 64
local_infile = 0
query_cache_type = 0
query_cache_size = 0M
tmp_table_size = 128M
max_heap_table_size = 128M
long_query_time = 1
log_queries_not_using_indexes = 0
interactive_timeout = 1800
wait_timeout = 1800
max_allowed_packet = 200M
table_open_cache = 8192
sort_buffer_size = 12M
read_buffer_size = 8M
read_rnd_buffer_size = 32M
myisam_sort_buffer_size = 32M
join_buffer_size = 8M
bulk_insert_buffer_size = 32M
delay_key_write = ON
connect_timeout = 180
net_read_timeout = 180
net_write_timeout = 180
back_log = 300
thread_stack = 512K
innodb_lock_wait_timeout = 120
gtid_mode = OFF
enforce_gtid_consistency = OFF
innodb_io_capacity = 2000
innodb_io_capacity_max = 6000
innodb_thread_concurrency = 0
innodb_use_sys_malloc = ON
innodb_autoinc_lock_mode = 2
